[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
awscli = "*"
jupyter = "*"
boto3 = "*"
pyarrow = "*"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
