[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
boto3 = "*"
pyyaml = "*"


[dev-packages]
awscli = "*"
jupyter = "*"
pylint = "*"
moto = "*"
coverage = "*"
pyarrow = "*"
s3fs = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
